@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@700 & family= Edu+NSW+ACT+Foundation & família= Paixão+Um &family= Playfair+Display & family= Sriracha & exibir=trocar');

@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@700 & family= Edu+NSW+ACT+Foundation & family= Playfair+Display & family= Sriracha & exibir=trocar');

:root {
    --fonte1: verdana, geneva, sans-serif;
    --fonte2:'Passion one' , cursive;
    --fonte3:'Siriacha' , cursive;
}


*{
    margin: 0px;
    padding: 0px;

}

html, body{
    background-color: darkgrey;
    min-width: 100vh;
    font-family: var(--fonte1);
}

header{

    background-color: black;
    color: white;
    text-align: center;
  
    
}

header h1 {
 
    padding-top: 50px;
    font-variant: small-caps;
}
header p {
    padding-bottom: 50px;
    padding-top: 5px;

}
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}
a:hover{
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}



section .normal{
    background-color:white;
    color: rgb(132, 58, 58);
    
}

section.imagem{
    background-color: black;
    color: white;


}

section.imagem >p{
    width: 400px;
    background-color: rgba(44, 44, 44, 0.587);
}



footer{
    background-color: black;
    text-align: center;
    border: 20px;

}